@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
.section-contact {
  position: relative;
  padding: 43rem 0;
  background-image: linear-gradient(to right bottom, #6d6e6e, #8a8888); }
  .section-contact_area {
    height: 55rem;
    width: 75%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.726);
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.705) 0%, rgba(255, 255, 255, 0.705) 50%, transparent 50%), url(../img/photo-1541592553160-82008b127ccb.jpg);
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.493);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .section-contact_left {
    transform: translateX(4rem); }

#name {
  display: block;
  width: 38%;
  padding: 1rem 3rem;
  text-align: start;
  margin-bottom: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem; }

#email {
  display: block;
  width: 38%;
  margin-bottom: 1.2rem;
  text-align: start;
  padding: 1rem 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem; }

#query {
  display: block;
  margin-bottom: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  width: 38%;
  padding: 6rem 3rem;
  text-align: start; }

.submit {
  background-color: #4a4b4b;
  color: white;
  display: block;
  width: 10%;
  text-align: start;
  padding: 1rem 3rem;
  outline: none;
  text-align: start;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem; }
  .submit:hover {
    background-color: black; }

.input {
  outline: none; }
  .input:focus {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.158);
    border-bottom: 3px solid #4ce646;
    outline: none;
    border: none; }
  .input:focus:invalid {
    border-bottom: 3px solid #f36c12; }

.event {
  position: relative;
  padding: 0 0  70rem 0; }
  .event_left {
    background-image: url(../img/postermeeting.jpeg);
    padding: 30rem 20rem;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.658); }
  .event_right {
    padding: 5rem 5rem 10rem 15rem;
    position: absolute;
    top: 44%;
    z-index: 1;
    width: 60%;
    left: 35%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.651);
    background-color: #e4e2e2; }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  backface-visibility: hidden; }

html {
  font-size: 62.5%;
  backface-visibility: hidden; }
  @media (max-width: 75em) {
    html {
      font-size: 60.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.625%; } }
  @media (max-width: 22.2em) {
    html {
      font-size: 35.625%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-size: cover;
  backface-visibility: hidden; }

.popup_image {
  transition: all 0.4s; }

@media (max-width: 37.5em) {
  .footer-box1 {
    margin-left: 3.5rem; } }

@media (max-width: 37.5em) {
  .footer-box2 {
    margin-left: 3.5rem; } }

@media (max-width: 37.5em) {
  .footer-box3 {
    margin-left: 3.5rem; } }

@media (max-width: 37.5em) {
  .footer-box4 {
    margin-left: 3.5rem; } }

.footer_text {
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-bottom: 0.6px dotted gray;
  padding: 1rem; }

.footer_para {
  color: whitesmoke;
  line-height: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Amaranth';
  display: inline-block; }
  @media (max-width: 37.5em) {
    .footer_para {
      width: 80%; } }

.row {
  max-width: 120rem;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 8rem; }
  @media (max-width: 75em) {
    .row {
      max-width: 65rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 50rem; } }

.col-1-of-2 {
  width: 57rem;
  float: left; }
  .col-1-of-2:not(:last-child) {
    margin-right: 6rem; }
    @media (max-width: 75em) {
      .col-1-of-2:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }
  @media (max-width: 75em) {
    .col-1-of-2 {
      width: 100% !important; } }

.col-1-of-4 {
  width: 24rem;
  float: left; }
  @media (max-width: 75em) {
    .col-1-of-4 {
      width: 100%; } }
  .col-1-of-4:not(:last-child) {
    margin-right: 6rem; }
    @media (max-width: 75em) {
      .col-1-of-4:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }

.col-1-of-3 {
  width: 36rem;
  float: left; }
  @media (max-width: 75em) {
    .col-1-of-3 {
      width: 100%; } }
  .col-1-of-3:not(:last-child) {
    margin-right: 6rem; }
    @media (max-width: 75em) {
      .col-1-of-3:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }

.popup {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup_left {
    width: 33.33333333334%;
    vertical-align: top;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup_left {
        width: 0%; } }
  .popup_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup_right {
        width: 100%; } }
  .popup_cross:link, .popup_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: white;
    font-weight: 800;
    position: absolute;
    top: 0.7rem;
    right: 5rem; }
    @media (max-width: 56.25em) {
      .popup_cross:link, .popup_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup_img {
        display: none; } }
  .popup_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 600;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup_heading {
      text-align: center; } }

.popup1 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup1:target {
    opacity: 1;
    visibility: visible; }
  .popup1_content {
    opacity: .85;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup1_left {
    width: 33.33333333334%;
    vertical-align: middle;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup1_left {
        width: 0%; } }
  .popup1_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup1_right {
        width: 100%; } }
  .popup1_cross:link, .popup1_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup1_cross:link, .popup1_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup1_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup1_img {
        display: none; } }
  .popup1_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 400;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup1_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup1_heading {
      text-align: center; } }

.popup2 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup2:target {
    opacity: 1;
    visibility: visible; }
  .popup2_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup2_left {
    width: 33.33333333334%;
    vertical-align: middle;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup2_left {
        width: 0%; } }
  .popup2_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup2_right {
        width: 100%; } }
  .popup2_cross:link, .popup2_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup2_cross:link, .popup2_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup2_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup2_img {
        display: none; } }
  .popup2_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup2_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup2_heading {
      text-align: center; } }

.popup3 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup3:target {
    opacity: 1;
    visibility: visible; }
  .popup3_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup3_left {
    width: 33.33333333334%;
    vertical-align: middle;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup3_left {
        width: 0%; } }
  .popup3_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup3_right {
        width: 100%; } }
  .popup3_cross:link, .popup3_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup3_cross:link, .popup3_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup3_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup3_img {
        display: none; } }
  .popup3_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup3_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup3_heading {
      text-align: center; } }

.popup4 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup4:target {
    opacity: 1;
    visibility: visible; }
  .popup4_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup4_left {
    width: 33.33333333334%;
    vertical-align: middle;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup4_left {
        width: 0%; } }
  .popup4_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup4_right {
        width: 100%; } }
  .popup4_cross:link, .popup4_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup4_cross:link, .popup4_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup4_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup4_img {
        display: none; } }
  .popup4_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup4_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup4_heading {
      text-align: center; } }

.popup6 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup6:target {
    opacity: 1;
    visibility: visible; }
  .popup6_content {
    opacity: .95;
    width: 90%;
    height: 70rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup6_cross:link, .popup6_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup6_cross:link, .popup6_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  @media (max-width: 56.25em) {
    .popup6_heading {
      text-align: center; } }

.popup7 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup7:target {
    opacity: 1;
    visibility: visible; }
  .popup7_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup7_left {
    width: 33.33333333334%;
    vertical-align: middle;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup7_left {
        width: 0%; } }
  .popup7_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup7_right {
        width: 100%; } }
  .popup7_cross:link, .popup7_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup7_cross:link, .popup7_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup7_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup7_img {
        display: none; } }
  .popup7_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 400;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup7_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup7_heading {
      text-align: center; } }

.popup8 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup8:target {
    opacity: 1;
    visibility: visible; }
  .popup8_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup8_left {
    width: 33.33333333334%;
    vertical-align: middle;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup8_left {
        width: 0%; } }
  .popup8_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup8_right {
        width: 100%; } }
  .popup8_cross:link, .popup8_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup8_cross:link, .popup8_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup8_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup8_img {
        display: none; } }
  .popup8_paragraph {
    column-count: 2;
    font-family: 'Amaranth';
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup8_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup8_heading {
      text-align: center; } }

.popup9 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup9:target {
    opacity: 1;
    visibility: visible; }
  .popup9_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup9_left {
    width: 33.33333333334%;
    vertical-align: middle;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup9_left {
        width: 0%; } }
  .popup9_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup9_right {
        width: 100%; } }
  .popup9_cross:link, .popup9_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup9_cross:link, .popup9_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup9_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup9_img {
        display: none; } }
  .popup9_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 400;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup9_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup9_heading {
      text-align: center; } }

.popup6_photo {
  transition: all 0.25s; }
  @media (max-width: 56.25em) {
    .popup6_photo {
      text-align: center;
      align-content: center;
      align-items: center;
      align-self: center; } }
  .popup6_photo:hover {
    transform: scale(1.08); }

.popup6_photos {
  height: 18rem;
  width: 22rem; }
  @media (max-width: 56.25em) {
    .popup6_photos {
      height: 10rem;
      width: 15rem;
      margin: -1.78rem; } }

.popup10 {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  transition: all .3s; }
  .popup10_content {
    opacity: .95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px; }
  .popup10_left {
    width: 33.33333333334%;
    vertical-align: top;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup10_left {
        width: 0%; } }
  .popup10_right {
    width: 66.66666667;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem; }
    @media (max-width: 56.25em) {
      .popup10_right {
        width: 100%; } }
  .popup10_cross:link, .popup10_cross:visited {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 1rem;
    right: 2rem; }
    @media (max-width: 56.25em) {
      .popup10_cross:link, .popup10_cross:visited {
        position: absolute;
        top: 1rem;
        right: 1rem; } }
  .popup10_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup10_img {
        display: none; } }
  .popup10_paragraph {
    column-count: 2;
    font-size: 1.7rem;
    font-weight: 600;
    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .popup10_paragraph {
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start; } }
  @media (max-width: 56.25em) {
    .popup10_heading {
      text-align: center; } }

.core_heading {
  margin-top: 3rem;
  text-align: center; }

.core_card {
  transition: all 0.2s;
  box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733); }
  .core_card:hover {
    transform: scale(1.1); }

.core_name {
  color: white;
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase; }

.core_title {
  color: goldenrod;
  font-size: 1.6rem;
  font-weight: 200;
  margin-top: 1rem;
  text-transform: uppercase; }

.core_content {
  background-color: #333333;
  padding: 1rem; }

.core_picture {
  background-size: contain;
  background-position: centre;
  display: flex;
  overflow: hidden; }

.centre_text {
  text-align: center; }

.square-box-92 {
  background-color: #ffffffe8;
  padding: 120px;
  background-size: 100% 100%; }
  @media (max-width: 75em) {
    .square-box-92 {
      padding: 5rem 10rem 29rem 10rem; } }
  @media (max-width: 56.25em) {
    .square-box-92 {
      padding: 5rem 6rem 27rem 6rem; } }

::selection {
  color: red; }

.apply {
  padding: 1.5rem 2.3rem;
  background-color: gray;
  color: black;
  font-size: 1.6rem;
  font-weight: 800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top: 100%;
  right: 5%; }
  .apply:hover {
    color: white;
    background-color: red; }

.wow-slider {
  background-image: url(../img/pattern1.jpg);
  padding: 7rem 0; }

.heading-main {
  font-weight: 400;
  font-size: 2.6rem;
  color: #3b3b3b;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  font-family: 'Amaranth';
  border-bottom: 1.2px solid grey;
  padding-bottom: 1rem; }

.paragraph {
  font-size: 1.75rem;
  font-family: 'Amaranth';
  color: #555555;
  line-height: 3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.events_para {
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: -2rem; }

.event_text {
  text-align: center; }

.heading-secondary {
  display: inline-block;
  font-weight: 1100;
  font-size: 4rem;
  margin-top: 3rem;
  font-family: 'Amaranth';
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #614d37, #707070);
  text-transform: uppercase;
  margin-bottom: 5rem;
  transition: all 0.3s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-weight: 400;
      margin-bottom: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-weight: 300;
      margin-bottom: 2rem; } }
  .heading-secondary:hover {
    transform: scale(1.3);
    text-shadow: 1rem 3rem 5rem rgba(0, 0, 0, 0.349); }

.btn-link {
  color: #7ed56f;
  font-size: 1.6rem; }

.section_pic {
  padding: 35rem 0 19rem 0;
  background-image: url(../img/Webp.net-compress-image.jpg);
  background-size: cover;
  color: #555555;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -14rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .section_pic {
      background-size: 100% 100%;
      padding: 20rem 0; } }

.section_box_1 {
  background-color: rgba(255, 255, 255, 0.918);
  padding: 2rem;
  background-size: 100% 100%;
  background-position: top;
  background-size: 100% 100%;
  font-size: 1.5rem;
  margin-top: -14rem;
  border-radius: 4px; }

.section_box_2 {
  background-color: rgba(255, 255, 255, 0.918);
  background-size: 100% 100%;
  background-position: top;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -14rem;
  border-radius: 4px; }

.section_box_3 {
  background-color: rgba(255, 255, 255, 0.918);
  background-size: 100% 100%;
  background-position: top;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -14rem;
  border-radius: 4px; }

.section_box_4 {
  background-color: rgba(255, 255, 255, 0.918);
  background-size: 100% 100%;
  background-position: top;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -14rem;
  border-radius: 4px; }

.section_icon {
  font-size: 6.7rem;
  margin-bottom: 0.9rem;
  background-image: linear-gradient(to right, #f12711, #f5af19);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }

[class^="section_box_"] {
  transform: skewY(7deg);
  transition: all 0.2s;
  font-size: 1.5rem;
  font-family: "Ubuntu" ,serif; }
  @media (max-width: 75em) {
    [class^="section_box_"] {
      margin: 2rem; } }
  [class^="section_box_"]:hover {
    transform: translateY(-1rem) scale(1.1) skewY(7deg); }

.footer {
  background-color: black;
  padding: 13rem 0 2rem 0;
  font-family: 'Amaranth';
  font-size: 1.7rem; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 15rem 0 0.5rem 0; } }
  .footer_logo-box {
    margin-top: -16rem;
    text-align: center;
    padding: 5rem; }
  .footer_logo {
    height: auto;
    width: 18rem; }
  .footer_list {
    list-style: none;
    text-align: center;
    border-top: 0.5px solid darkgrey;
    padding: 2rem; }
    @media (max-width: 56.25em) {
      .footer_list {
        display: block; } }
  .footer_item {
    display: inline-block; }
    @media (max-width: 37.5em) {
      .footer_item {
        letter-spacing: 0; } }
    .footer_item:not(:last-child) {
      margin-right: 2.5rem; }
      @media (max-width: 37.5em) {
        .footer_item:not(:last-child) {
          margin-right: 1rem; } }
  .footer_link:link, .footer_link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: gray; }
  .footer_link:hover, .footer_link:visited {
    background-color: whitesmoke;
    transform: rotate(5deg) scale(1.33);
    border-radius: 5px;
    padding: 0.35rem 0.35rem;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733); }

.location {
  text-align: center;
  color: whitesmoke; }

.location_text {
  color: grey;
  display: inline-block;
  text-align: center; }

.patiala {
  display: block;
  text-align: center; }

.text {
  position: absolute;
  border-top: 0.5px solid darkgrey;
  text-align: center;
  padding: 2rem; }

.text-mini {
  position: relative; }

.team_section {
  background-color: #f7f7f7;
  background-image: url(../img/pattern1.jpg);
  padding: 30rem 0 10rem 0;
  margin-top: -20vh; }
  @media (max-width: 75em) {
    .team_section {
      padding: 40rem 0 15rem 0; } }
  @media (max-width: 56.25em) {
    .team_section {
      padding: 30rem 0 13rem 0; } }
  .team_section-paragraph {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: #555555;
    text-align: center;
    line-height: 3rem;
    font-family: 'Amaranth'; }

.team_section-meet {
  text-align: center; }

.team_section-text {
  display: inline-block;
  font-weight: 1200;
  font-size: 4rem;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #f12711, #f5af19);
  font-family: 'Amaranth';
  text-transform: uppercase;
  padding-left: 1rem;
  padding-bottom: 8rem;
  transition: all 0.3s; }
  .team_section-text:hover {
    transform: scale(1.3); }

.square-box-1 {
  background-image: url(../img/gallery17.jpg);
  background-color: #ffffffe8;
  padding: 16.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
  transition: all 0.2s;
  border-radius: 4px; }
  .square-box-1:hover {
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
    transform: translateY(-1rem) scale(1.1); }
  @media (max-width: 75em) {
    .square-box-1 {
      padding: 25rem 10rem 29rem 10rem; } }
  @media (max-width: 56.25em) {
    .square-box-1 {
      padding: 9rem 6rem 27rem 6rem; } }

.centre {
  text-align: center; }

.square-box-2 {
  background-image: url(../img/gallery16.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffffe8;
  padding: 16.5rem;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
  transition: all 0.2s;
  border-radius: 4px; }
  @media (max-width: 75em) {
    .square-box-2 {
      padding: 25rem 10rem 29rem 10rem; } }
  @media (max-width: 56.25em) {
    .square-box-2 {
      padding: 9rem 6rem 27rem 6rem; } }
  .square-box-2:hover {
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
    transform: translateY(-1rem) scale(1.1); }

.square-box-3 {
  background-image: url(../img/gallery18.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffffe8;
  padding: 16.5rem;
  text-align: center;
  font-size: 1.5rem;
  offset: 1rem;
  outline-offset: 4px solid white;
  box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
  transition: all 0.2s;
  border-radius: 4px; }
  @media (max-width: 75em) {
    .square-box-3 {
      padding: 25rem 10rem 29rem 10rem; } }
  @media (max-width: 56.25em) {
    .square-box-3 {
      padding: 9rem 6rem 27rem 6rem; } }
  .square-box-3:hover {
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
    transform: translateY(-1rem) scale(1.1); }

.navbar {
  padding: 2rem 0;
  background-color: #333333; }

.copyright {
  border-top: 1.5px dotted grey;
  padding-top: 1rem;
  font-family: 'Amaranth'; }
  .copyright_text {
    text-align: center;
    font-size: 1.5rem;
    color: lightgrey;
    display: block;
    font-weight: 500; }
    @media (max-width: 56.25em) {
      .copyright_text {
        font-weight: 400;
        letter-spacing: 0; } }
  .copyright_span {
    display: block;
    right: 0; }
  .copyright_link:link, .copyright_link:visited {
    text-decoration: none;
    color: tan;
    transition: all 0.2s; }
  .copyright_link:hover, .copyright_link:active {
    color: white;
    transform: scale(1.1); }

.section_text {
  font-family: 'Amaranth';
  text-decoration: none;
  color: #555555; }

.yellow {
  color: #f5af19; }

.center {
  text-align: center; }
  @media (max-width: 56.25em) {
    .center {
      margin-bottom: 2rem; } }

@keyframes moveinleft {
  0% {
    transform: translateX(-13rem); }
  60% {
    transform: translateX(3rem); }
  100% {
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    transform: translateX(13rem); }
  60% {
    transform: translateX(-3rem); }
  100% {
    transform: translate(0); } }

@keyframes moveinrightsmall {
  0% {
    transform: translateX(5rem); }
  100% {
    transform: translate(0); } }

.u-centre {
  text-align: center; }

.achievements {
  position: relative;
  padding: 7rem 0; }
  .achievements_box1 {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.589);
    padding: 5rem;
    background-color: rgba(236, 233, 233, 0.76);
    transform: skewX(-12deg);
    transition: all 0.3s; }
    .achievements_box1:hover {
      transform: scale(1.1) skewX(-12deg); }
  .achievements_box2 {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.589);
    padding: 5rem;
    background-color: rgba(236, 233, 233, 0.76);
    transform: skewX(-12deg);
    transition: all 0.3s; }
    .achievements_box2:hover {
      transform: scale(1.1) skewX(-12deg); }
  .achievements_box3 {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.589);
    padding: 5rem;
    transition: all 0.3s;
    background-color: rgba(236, 233, 233, 0.76);
    transform: skewX(-12deg); }
    .achievements_box3:hover {
      transform: scale(1.1) skewX(-12deg); }
  .achievements_box4 {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.589);
    transition: all 0.3s;
    padding: 5rem;
    background-color: rgba(236, 233, 233, 0.76);
    transform: skewX(-12deg); }
    .achievements_box4:hover {
      transform: scale(1.1) skewX(-12deg); }

.story {
  transform: skewX(12deg); }
  .story_shape {
    padding: 3rem;
    height: 10rem;
    width: 10rem;
    background-color: orangered;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1.5rem); }
    .story_shape:hover {
      filter: blur(3px) brightness(80%); }

.heading-small {
  font-size: 2rem;
  color: #353535;
  margin-bottom: 1.1rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.38;
  overflow: hidden; }
  .bg-video_content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.navigation_item {
  font-size: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.8rem;
  width: 100%; }
  @media (max-width: 56.25em) {
    .navigation_item {
      font-size: 1.2rem; } }

.navigation_link:link, .navigation_link:visited {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  margin: 2rem;
  padding: 1rem 2rem;
  transition: all .4s; }

.navigation_link:hover, .navigation_link:active {
  color: #7ed56f;
  background-position: 100%; }

.material-icons {
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .material-icons:hover {
    color: red; }

.nav_tff {
  text-align: start;
  color: white;
  font-size: 2.5rem;
  margin-left: 4rem;
  margin-bottom: 4rem;
  font-family: 'Amaranth'; }

.sidenav {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999;
  background-color: #014165 !important; }

.follow_us {
  text-align: start;
  color: white;
  font-size: 2.5rem;
  margin-left: 4rem;
  margin-top: 4rem; }

.section_pic a {
  text-decoration: none; }

.fas {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }

.fas:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #c7cbd4;
  color: white; }

.fa-instagram {
  background: #c4c6cc;
  color: white; }

.fao {
  background-color: unset;
  color: tan; }

.nav_logos {
  background-image: none;
  margin-top: 3.5rem; }

.fao {
  color: tan; }

.nav_loga {
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 1;
  padding: 0rem .5rem;
  background-color: #014165;
  display: none; }

.navi {
  padding: 1rem;
  background-color: #014165;
  position: relative; }
  .navi_logo {
    width: 9rem;
    height: 6rem;
    margin-left: 2rem;
    display: inline-block; }
  .navi_list {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); }
  .navi_item {
    display: inline-block;
    margin-right: 6rem;
    font-size: 2rem;
    color: white;
    padding: 0.62rem;
    border-radius: 1rem;
    text-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.705);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    .navi_item:hover {
      background-color: white;
      color: black; }
  .navi_member {
    display: inline-block;
    position: absolute;
    top: 2.4rem;
    right: 4.5rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    background-color: black;
    border-radius: 1rem;
    font-weight: 800; }
    .navi_member:hover {
      background-color: white; }

.navi a {
  text-decoration: none;
  color: white; }
  .navi a:hover {
    color: black; }

.section-about {
  background-color: #ffffff;
  padding: 30rem 0 1rem 0;
  margin-top: -30vh; }
  @media (max-width: 75em) {
    .section-about {
      padding: 50rem 0 80rem 0; } }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 45rem 0 60rem 0; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 38rem 0 47.5rem 0; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 28px;
  text-decoration: none;
  font-size: 17.5px;
  color: #555555;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  color: grey;
  display: block;
  transition: 0.5s all;
  margin-bottom: 1.3rem; }

.sidenav a:hover {
  color: black;
  background-position: 100%; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
  color: white;
  background-image: none; }
  .sidenav .closebtn:hover {
    color: purple; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.nav_logo {
  position: fixed;
  top: 5.6rem;
  right: 6.5rem;
  z-index: 1;
  padding: 0rem .5rem;
  background-color: black; }
  @media (max-width: 56.25em) {
    .nav_logo {
      position: absolute;
      top: 3.1rem;
      right: 3rem; } }

.discover_events {
  position: absolute;
  top: 82%;
  left: 45%;
  transform: translate(-50%, -50%); }
  @media (max-width: 37.5em) {
    .discover_events {
      position: absolute;
      top: 53.5%;
      left: 45%;
      transform: translate(-50%, -50%); } }

.link:link,
.link:visited {
  text-decoration: none;
  color: white;
  border: 4px solid white;
  display: inline-block;
  font-size: 2.3rem;
  padding: 1.8rem 4rem;
  font-weight: 1200;
  text-transform: uppercase;
  border-radius: 10rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative; }
  @media (max-width: 37.5em) {
    .link:link,
    .link:visited {
      font-size: 1.8rem;
      font-weight: 800;
      border: 2px solid white;
      padding: 0.8rem 3rem; } }

.link:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.205); }

.link:active {
  transform: translateY(-0.1rem); }

.link::after {
  content: "";
  color: white;
  display: inline-block;
  height: 100%;
  border: 4px solid white;
  width: 100%;
  position: absolute;
  top: -7%;
  right: -2%;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s; }
  @media (max-width: 37.5em) {
    .link::after {
      position: absolute;
      top: -17%;
      right: -2.8%; } }

.link:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  color: #f10a0a;
  font-size: 1rem;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  border-radius: 10rem;
  position: relative; }

.btn-link:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.205);
  background-color: #7ed56f;
  color: white; }

.btn-link:active {
  transform: translateY(-0.1rem);
  background-color: #7ed56f;
  color: white; }

.btn-link::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  background-color: #7ed56f;
  border-radius: 10rem;
  transition: all 0.4s; }

.btn-link:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.header {
  z-index: 0.5;
  font-family: "decade";
  backface-visibility: hidden; }
  .header_full {
    position: relative;
    height: 70vh;
    background-color: #e3e3e3; }
  .header_pic {
    height: 70vh;
    width: 50%;
    position: absolute;
    top: 0%;
    right: 0%; }
  .header_left {
    z-index: 5;
    width: 38%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    background-color: #014165;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.692);
    border-radius: 1rem; }
  .header-left_text {
    text-align: center;
    color: white;
    font-size: 3.4rem;
    letter-spacing: 0.4rem;
    font-weight: 800;
    font-family: 'Amaranth';
    margin: 5rem 1.5rem 3rem 1.5rem;
    text-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.637); }
  .header_para {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    display: block;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  @media (min-width: 600px) {
    .header {
      background-image: url(../img/tff_final.jpg); } }

.header_logo-box {
  padding: 3rem;
  position: absolute;
  top: 2rem;
  left: 2rem; }

.thapar {
  display: inline-block; }

.toastmasters {
  display: block; }

.club {
  display: block; }
