.core{
    
    &_heading{
        margin-top: 3rem;
        text-align: center;
    }
    &_card{
        
        transition: all 0.2s;
        
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
    
        &:hover{
            transform: scale(1.1) ;
        }
    }
    &_name{
color: white;
font-weight: 500;
font-size: 3rem;
text-transform: uppercase;
    }
    &_title{
        color: goldenrod;
        font-size: 1.6rem;
        font-weight: 200;
        margin-top: 1rem;
        
text-transform: uppercase;
    }
    &_content{
        background-color: #333333;
        
        padding: 1rem;
    }
    &_picture{
        background-size: contain;
        background-position: centre;
        display:flex;
        overflow: hidden;
    }
}
.centre_text{
    text-align: center;
}
.square-box-92{
    background-color:#ffffffe8;
    padding: 120px;
background-size: 100% 100%;
    
    @include respond(tab-land){
      padding: 5rem 10rem 29rem 10rem;
    }
    @include respond (tab-port){
      padding: 5rem 6rem 27rem 6rem;
      
     }
    }
    ::selection{
        color: red;
    }
 .apply{
     padding: 1.5rem 2.3rem;
     background-color: gray;
     color: black;
     font-size: 1.6rem;
     font-weight: 800;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
position: absolute;
top: 100%;
right: 5%;
&:hover{
    color: white;
    background-color: red;
}
 }