.section-about{
    background-color: #ffffff;
    // background-image: url(../img/pattern.jpg);
    padding: 30rem 0 1rem 0;
    // background-image: url(../img/20087.jpg);
     

     
    margin-top: -30vh;
    @include respond (tab-land){
        padding: 50rem 0 80rem 0;
      }
    @include respond (tab-port){
        padding: 45rem 0 60rem 0;
      }
      @include respond (phone){
        padding: 38rem 0 47.5rem 0;
      }
}
