.section-about{
    background-color: #ffffff;
    background-image: url(../img/pattern1.jpg);
    padding: 30rem 0 1rem 0;
    // background-image: url(../img/20087.jpg);
     

     
    margin-top: -30vh;
    @include respond (tab-land){
        padding: 50rem 0 80rem 0;
      }
    @include respond (tab-port){
        padding: 45rem 0 60rem 0;
      }
      @include respond (phone){
        padding: 38rem 0 47.5rem 0;
      }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 28px;
  text-decoration: none;
  font-size: 17.5px;
  color: #555555;
background-image: linear-gradient(120deg, transparent 0%,transparent 50%,white 50%);
background-size: 220%;
  color: grey;
  display: block;
  transition: 0.5s all;
  margin-bottom:1.3rem;
}

.sidenav a:hover {
  
  color: black;
    background-position: 100%;

}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
  color: white;
  background-image: none;
  &:hover{
    color: purple;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.nav_logo{
  position:fixed;
  top: 5.6rem;
  right:  6.5rem;
z-index: 1;

padding: 0rem .5rem;
background-color: black;
@include respond (tab-port){
position: absolute;
top: 3.1rem;
right: 3rem; 
}

}