.popup{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
        opacity: .95;
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: top;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
        
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;
        
        font-size: 1.7rem;
        font-weight: 600;
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        
        @include respond (tab-port){
            text-align: center;
          }
    }
}
.popup1{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
      opacity: .85;  
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: middle;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;font-size: 1.7rem;
        font-weight: 400;
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        
        @include respond (tab-port){
            text-align: center;
          }
    }
}
.popup2{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
        opacity: .95;
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: middle;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        @include respond (tab-port){
            text-align: center;
          }
    }
}
.popup3{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
        opacity: .95;
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: middle;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;
        font-size: 1.7rem;
                font-weight: 400;
        letter-spacing: 0.1rem;
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        @include respond (tab-port){
            text-align: center;
          }
    }
}

.popup4{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
        opacity: .95;
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: middle;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;
        
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        @include respond (tab-port){
            text-align: center;
          }
    }
}
.popup6{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
        opacity: .95;
        width: 90%;
        height: 70rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    
    
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    

    &_heading{
        @include respond (tab-port){
            text-align: center;
          }
    }
}
.popup7{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
        opacity: .95;
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: middle;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
        
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;
    
        font-size: 1.7rem;
        font-weight: 400;
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        @include respond (tab-port){
            text-align: center;
          }
    }
}
.popup8{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
        opacity: .95;
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: middle;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
        
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;
        font-family: 'Amaranth';
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        @include respond (tab-port){
            text-align: center;
          }
    }
}
.popup9{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999999999999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
     &:target{
         opacity: 1;
         visibility: visible;
     }
    &_content{
        opacity: .95;
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: middle;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
        
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;
        font-size: 1.7rem;
        font-weight: 400;
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        @include respond (tab-port){
            text-align: center;
          }
    }
}
.popup6_photo{
    @include respond (tab-port){
        text-align: center;
      
    align-content: center;
    align-items: center;
    align-self: center;
    // text-align: center;
    }
    transition: all 0.25s;
    &:hover{
        transform: scale(1.08);
    }
}
.popup6_photos{
    height: 18rem;
    width: 22rem;
    @include respond (tab-port){
        height: 10rem;
        width: 15rem;
        margin: -1.78rem;
      }
}
.popup10{
    background-color: rgba(0, 0, 0, 0.808);
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    
    transition: all .3s;
     
    &_content{
        opacity: .95;
        width: 75%;
        height: 50rem;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: table;
        border-radius: 5px;
    }
    &_left{
width: 33.33333333334%;
vertical-align: top;
display: table-cell;
@include respond (tab-port){
    width: 0%;
  }
    }
    &_right{
        
width: 66.66666667;
@include respond (tab-port){
   width: 100%;
}
display: table-cell;
vertical-align: middle;
padding: 2rem 5rem;

    }
    &_cross{
        &:link,&:visited{
            font-size: 4rem;
            text-decoration: none;
            color: black;
            
            position: absolute;
            top: 1rem;
            right: 2rem;
            @include respond (tab-port){
                position: absolute;
                top: 1rem;
                right: 1rem;
              }
        }
        
    }
    &_img{
        background-position: center;
        background-size: 100% 100%;
        display: block;
        width: 100%;
        @include respond (tab-port){
            display: none;
          }
    }
    &_paragraph{
        column-count: 2;
        
        font-size: 1.7rem;
        font-weight: 600;
        @include respond (tab-port){
        column-count: unset;
        column-rule: unset;
        column-gap: unset;
        text-align: start;
          }

        column-rule: 0.5px solid darkgrey;
        column-gap: 4rem;
        hyphens: auto;
    }
    &_heading{
        
        @include respond (tab-port){
            text-align: center;
          }
    }
}